.saveWidget {
  min-width: 850px;
  margin-bottom: 15px;
}
.resultText {
  text-align: center;
  color: green;
  padding-top: 20px;
}

.roomicon {
  color: #237ad7;
}
ul {
  list-style: none;
  margin: auto;
  padding: 0;
  width: 100%;
  text-align: center;
}
.saveWidget {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  ul li {
    font-size: 26px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  ul li:not(:last-child) {
    font-size: 26px;
    border-bottom: 1px gray solid;
    width: 100%;
    padding: 10px;
  }
}
